<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kudu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Kudu.Properties.Settings>
            <setting name="ContactPanelSortByPresence" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimizedToSystray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ContactPanelShowExpandedView" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoginUsername" serializeAs="String">
                <value>18311@sip.globant.com</value>
            </setting>
            <setting name="LoginDisplayName" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginUserOverrideAutoDelayTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ContactPanelShowGroups" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoginUserSelectedNoLogin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoginAsInvisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ControlPersistence" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;state&gt;
  &lt;element uid="DirectoryNameColumn"&gt;
    &lt;property name="Width" value="*" /&gt;
  &lt;/element&gt;
  &lt;element uid="DirectoryNumberColumn"&gt;
    &lt;property name="Width" value="*" /&gt;
  &lt;/element&gt;
  &lt;element uid="CallHistoryDateColumn"&gt;
    &lt;property name="Width" value="*" /&gt;
  &lt;/element&gt;
  &lt;element uid="CallHistoryIconColumn"&gt;
    &lt;property name="Width" value="0.5*" /&gt;
  &lt;/element&gt;
  &lt;element uid="CallHistoryAddressColumn"&gt;
    &lt;property name="Width" value="*" /&gt;
  &lt;/element&gt;
&lt;/state&gt;</value>
            </setting>
            <setting name="FreshInstall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ContactPanelPoppedOut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoginManualServerURL" serializeAs="Xml">
                <value>
                    <PASSWORDSETTING>j95nknTtnSQnX8VvHREzbe/os+qdq6xsda7vQmfhOMw=</PASSWORDSETTING>
                </value>
            </setting>
            <setting name="LoginUserSelectedProfileID" serializeAs="String">
                <value>18446744072553095242</value>
            </setting>
            <setting name="PipeName" serializeAs="String">
                <value>8ec0ac99-7e30-4d16-a22e-15e3b5437b97</value>
            </setting>
            <setting name="LoginMinimizeAfterLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoginAutoLogin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoginRememberDetails" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AvailabilityStatus" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ImWindowPlacement" serializeAs="Xml">
                <value>
                    <WINDOWPLACEMENT xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <length>44</length>
                        <flags>0</flags>
                        <showCmd>1</showCmd>
                        <minPosition>
                            <X>-1</X>
                            <Y>-1</Y>
                        </minPosition>
                        <maxPosition>
                            <X>-1</X>
                            <Y>-1</Y>
                        </maxPosition>
                        <normalPosition>
                            <Left>633</Left>
                            <Top>385</Top>
                            <Right>1048</Right>
                            <Bottom>665</Bottom>
                        </normalPosition>
                    </WINDOWPLACEMENT>
                </value>
            </setting>
            <setting name="FavoritesPanelPoppedOut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HistoryPanelPoppedOut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PanelSelected" serializeAs="String">
                <value>Contacts</value>
            </setting>
            <setting name="ContactPanelHideOfflineContacts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AvailabilityMessage" serializeAs="String">
                <value>On the phone</value>
            </setting>
            <setting name="LoginPassword" serializeAs="Xml">
                <value>
                    <PASSWORDSETTING>fUM9xEP+0u6+LYfiLZIwzsXP6BDWw20ryUEQcXLh+U0=</PASSWORDSETTING>
                </value>
            </setting>
            <setting name="Skin" serializeAs="String">
                <value>skins/skin2/skin2.xaml</value>
            </setting>
            <setting name="WindowPlacement" serializeAs="Xml">
                <value>
                    <WINDOWPLACEMENT xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <length>44</length>
                        <flags>0</flags>
                        <showCmd>1</showCmd>
                        <minPosition>
                            <X>-32000</X>
                            <Y>-32000</Y>
                        </minPosition>
                        <maxPosition>
                            <X>-1</X>
                            <Y>-1</Y>
                        </maxPosition>
                        <normalPosition>
                            <Left>303</Left>
                            <Top>0</Top>
                            <Right>649</Right>
                            <Bottom>555</Bottom>
                        </normalPosition>
                    </WINDOWPLACEMENT>
                </value>
            </setting>
            <setting name="ShowContactsPanel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFavoritesPanel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowHistoryPanel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoginAuthuser" serializeAs="String">
                <value />
            </setting>
            <setting name="WebPanel2PoppedOut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DirectoryPanelPoppedOut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WebPanel1PoppedOut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowWebPanel1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WebPanel3PoppedOut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowWebPanel2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowWebPanel3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowWebPanel4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDirectoryPanel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WebPanel4PoppedOut" serializeAs="String">
                <value>False</value>
            </setting>
        </Kudu.Properties.Settings>
    </userSettings>
</configuration>
