  /* links en el encabezado de p谩gina de doc */
  .extLink              { color:blue; }
  body                  { background-color:#fffff8; }
   
  .imgL                 { float:left; margin-right:2em; }
  .imgR                 { float:right; margin-left:2em; }
  .word                 { color:#4040c0; font-size:80%; }	
  .word a               { color:#4040c0; }
  .doneItem             { color:#c0c0c0; }
  .doneItem a           { color:#a0a0f0; text-decoration:underline; }
  a .doneItem           { color:#a0a0f0; text-decoration:underline; }
  .printNoLinks         { }
  .MFScreen             { color:white; background:black; border:4px solid gray; border-radius:8px; font-size:75%; font-family:Consolas,monospace; line-height:125%; padding:1ex; }
  .commandLine          { color:#ffffff; background-color:#400040; line-height:90%; font-weight:bold; margin-right:2em; 
                          overflow-x:auto; /* Use horizontal scroller if needed; for Firefox 2, not
                          white-space:pre-wrap; /* css-3 */
                          word-wrap:break-word; /* Internet Explorer 5.5+ */
                         }

  /************ glossary *********************/
  .glossary             {  }
  .glossary dt          { font-style:italic; font-weight:bold; }
  .glossary dd          { margin-left:2em; }

  /*******************************************/
    .abstract             { font-style:italic; border:1px solid #c0c0c0; padding:6px 1em; margin:6px 2em 6px 2em; }

  .small80              { font-size:80%; }
  .small80 th           { font-size:110%; }
  .small70              { font-size:70%; }
  .small70 th           { font-size:120%; }
  .framed               { border:1px solid #c0c0c0; margin:6px 6px 6px 0; padding:.4em 1em .3em 1em; border-radius:8px; -moz-border-radius:8px; }
  .msgToSelf            { border:1px solid gray; background-color:yellow; padding-left:2px; padding-right:2px; }
  .msgToSelf            { opacity:.80; }
  .borderTable table    { border:1px solid #e0e0e0; }
  .borderTable td       { border:1px solid #e0e0e0; }
  .borderTable th       { border:1px solid #e0e0e0; }

  /************ tags *************************/
  table                 { border-collapse:collapse; empty-cells:show; }
  dt                    { font-weight:bold; }
  dd                    { margin-left:2em; margin-top:0px; padding-top:0px; }
  th                    { font-size:80%; background-color:#f1f1f1; opacity:0.8; vertical-align:top; }
  td                    { vertical-align:top; padding-left:2px; padding-right:2px; padding-top:1px; padding-bottom:1px; }
  blockquote            { margin-top:4px; margin-bottom:2px; font-style:italic; }
  img                   { border-width:0px 0px 0px 0px; }
  hr                    { color:#808080; background-color:#808080; height:1px; width:100%; border:0px; }

@media screen { 
  a                     { text-decoration:underline; color:#000040; }
  a:link                { text-decoration:underline; }
  a:visited             { text-decoration:underline; }
  a:hover               { background-color:#ffffd0; text-decoration:underline; }
  .focusedInput         { background-color:#f8f8f0; }

  /* tag external links with the appropriate icon */ 
  a[href^="http:"]      { background:url(linkOut.gif) no-repeat left bottom; padding-left:18px; }
  a[href^="https:"]      { background:url(linkOut.gif) no-repeat left bottom; padding-left:18px; }
  a[href^="http://en.wikipedia.org"] { background:url(WikipediA.gif) no-repeat left 50%; padding-left:18px; }  
  a[href*="stackoverflow.com"] { background:url(stackoverflow.png) no-repeat left 50%; padding-left:18px; }  
  a[href*="stackexchange.com"] { background:url(stackoverflow.png) no-repeat left 50%; padding-left:18px; }  
  /* a[href^="http://sol."]     { background-image:none; padding-right:0px; } */
}


@media print { 
  .noPrint              { display:none; }
  .chapter              { page-break-before:always; } 
  .printInNewPage       { page-break-before:always; }
  a                     { text-decoration:none; color:black; }
  a:link                { text-decoration:none; color:black; }
  a:visited             { text-decoration:none; color:black; }
  a:hover               { text-decoration:none; color:black; }
  p                     { color:black; }
  /* tag external links with the out-of-here arrow */ 
  a[href^="http:"]      { padding-left:inherit; }
  a[href^="https:"]     { padding-left:inherit; }
  /* print links href except for class "printNoLinks" */
  a:after               { content:" [" attr(href) "]"; font-size:75%; }
  
  /* print links href except for class "printNoLinks" */
  .printNoLinks a:after { content:""; }
  #docHeader h1 a:after { content:""; } 

  /* don't print internal links */
  a[href^='#']:after { content:""; }
  }

